## Cleanning two different datasets and combining them

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

### Cleanning first dataset

In [30]:
df1=pd.read_csv("brasil-real-estate-1.csv",encoding="ISO-8859-1")

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12834 entries, 0 to 12833
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12834 non-null  int64
 1   property_type            12834 non-null  object
 2   place_with_parent_names  12834 non-null  object
 3   region                   12834 non-null  object
 4   lat-lon                  11551 non-null  object
 5   area_m2                  12834 non-null  int64
 6   price_usd                12834 non-null  object
dtypes: int64(2), object(5)
memory usage: 702.0+ KB

In [32]:
df1.head(5)

,Unnamed: 0,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd
0,1,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6443051,-35.7088142",110,"$187,230.85"
1,2,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6430934,-35.70484",65,"$81,133.37"
2,3,house,|Brasil|Alagoas|Maceió|,Northeast,"-9.6227033,-35.7297953",211,"$154,465.45"
3,4,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.622837,-35.719556",99,"$146,013.20"
4,5,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.654955,-35.700227",55,"$101,416.71"

In [40]:
df1=df1.dropna()

In [34]:
df1[["lat","lon"]]=df1["lat-lon"].str.split(",",expand=True).astype(float)

In [35]:
df1["state"]=df1["place_with_parent_names"].str.split("|",expand=True)[2]

In [36]:
df1["price_usd"]=df1["price_usd"].str.replace("$","",regex=
   False).str.replace(",","",regex=False).astype(float)

In [39]:
df1=df1.drop(["lat-lon","place_with_parent_names"],axis=1)

### cleanning second dataset

In [41]:
df2 =pd.read_csv("brasil-real-estate-2.csv",encoding="ISO-8859-1")

In [42]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12833 entries, 0 to 12832
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     12833 non-null  int64
 1   property_type  12833 non-null  object
 2   state          12833 non-null  object
 3   region         12833 non-null  object
 4   lat            12833 non-null  float64
 5   lon            12833 non-null  float64
 6   area_m2        11293 non-null  float64
 7   price_brl      12833 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 802.2+ KB

In [43]:
df2["price_usd"]=df2["price_brl"]/3.19

In [45]:
df2=df2.drop(["price_brl"],axis=1)

In [46]:
df2=df2.dropna()

In [51]:
set(df1.columns)==set(df2.columns)

True

In [52]:
df = pd.concat([df1,df2])

#### cobining two clean datasets

In [54]:
df.to_csv("brazil_real_estate_clean.csv",index=False)